@font-face {
  font-family: "inter";
  src: url(Inter/Inter-V.ttf);
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(Inter/Inter-ExtraBold.otf);
  font-weight: 900;
  font-style: normal;
}

.body {
  background: #2a2c2f;
  overflow-x: hidden;
}

.page {
  width: 1280px;
  margin: 0 auto;
}

/*----------------Хедер------------------*/
.header {
  width: 1184px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-end;
  padding-top: 28px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.lang-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.lang-items__link-ru {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
  margin-right: 18px;
}

.lang-items__link-en {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.content {
  display: grid;
}

/*------------------секция баннер---------------------*/
.lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lead__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #ffffff;
  text-align: center;
  max-width: 720px;
  margin-top: 56px;
}

.lead__subtitle {
  max-width: 640px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
}

.lead-container__image {
  width: 984px;
  margin-top: 64px;
}

.lead-container__caption {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro {
  width: 984px;
  margin: 0 auto;
}

.intro__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 92px;
}

.intro__text {
  max-width: 690px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 40px;
}

.intro__lists {
  list-style: none;
  margin-top: 33px;
}

.intro__list {
  width: 690px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.photo-grid {
  width: 1184px;
  margin: 0 auto;
}

.photo-grid__items {
  padding-top: 92px;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 284px 16px 284px 16px 284px 16px 284px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

.places {
  width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 80px;
}

.place:nth-of-type(5n) {
  padding-bottom: 92px;
}

.place__title-url {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 456px;
  grid-template-columns: 460px 456px;
  gap: 40px;
}

.place__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin-right: 40px;
}

.place__website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.place__url-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
}

.place__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
  padding-top: 12px;
}

.place__link:hover {
  opacity: 0.8;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.place__image-paragraphs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 460px 40px 484px;
  grid-template-columns: 460px 484px;
  gap: 40px;
  margin-top: 48px;
}

.place__image {
  width: 460px;
}

.place__paragraph {
  width: 484px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}

.place__paragraph:nth-of-type(2n) {
  margin-top: 26px;
}

.banner-cover {
  width: 1184px;
  min-height: 740px;
  margin: 0 auto;
  background: url(images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.banner-cover__overlay:hover {
  opacity: 0.8;
  -webkit-transition: 500ms ease-in-out;
  -o-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.banner-cover__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #2a2c2f;
  opacity: 0.3;
}

.banner-cover__title {
  max-width: 560px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.banner-cover__subtitle {
  max-width: 360px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  padding-top: 32px;
}

.foorer {
  width: 1184px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 92px 0 24px 0;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
