.photo-grid__items {
  padding: 92px 0 0 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 284px 16px 284px 16px 284px 16px 284px;
  grid-template-columns: repeat(4, 284px);
  -ms-grid-rows: 213px 16px 213px 16px 213px;
  grid-template-rows: repeat(3, 213px);
  gap: 16px;
  margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__items {
    -ms-grid-columns: 300px 14px 300px 14px 300px;
    grid-template-columns: repeat(3, 300px);
    -ms-grid-rows: 225px 14px 225px 14px 225px;
    grid-template-rows: repeat(3, 225px);
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid__items {
    padding: 88px 0 0 0;
    -ms-grid-columns: 352px 352px;
    grid-template-columns: repeat(2, 352px);
    -ms-grid-rows: 264px 264px;
    grid-template-rows: repeat(6, 264px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__items {
    padding: 64px 0 0 0;
    -ms-grid-columns: 288px;
    grid-template-columns: repeat(1, 288px);
    -ms-grid-rows: 216px;
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
  }
}
